-----BEGIN CERTIFICATE-----
MIIDCTCCAfGgAwIBAgIUBOMNrX363rabzoB2Qno0gl3TGyIwDQYJKoZIhvcNAQEL
BQAwFDESMBAGA1UEAwwJbG9jYWxob3N0MB4XDTI1MDIyNjAxMDEwMVoXDTI2MDIy
NjAxMDEwMVowFDESMBAGA1UEAwwJbG9jYWxob3N0MIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEArWjUy/u77TH/rEgZXhwX5lQo7YYeRGoi+Z/usnW2cj0X
Qb+4IWgHlQ4vyw2eFuBR/hFz6q09n5tYzC1A9GA/g/se0ekXAzuUMyXMkmaB6t84
DUNaGsMEUGqwvPDKreh5s6AJrsdWZlmdTpNjnZNE3bKCupgLVMQDfVzVUrttejW/
MwbqtOskagpk8Tisw174JwkSXfMcSxNauS7o1Vrg0un3C7drId9g10NosqGioHEF
QNi5InjTaYU4P1bsfqRZNeseU56yTl/Gu2JO+8YFJrPR9qSD8Dtm3Tis0xp+Asgn
7DivX0gEsfKSwggPY/eEL4usPXCWAitqdIA+rKDDxwIDAQABo1MwUTAdBgNVHQ4E
FgQUHofVFDHvw6d4ds4Dlk4aidCAzLowHwYDVR0jBBgwFoAUHofVFDHvw6d4ds4D
lk4aidCAzLowDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAIupM
OOr2PbQSlbHK3KPM8U8MC9lPsgoDdQw9KGrJCpLmt0k2ErI+FJPo2Ae6rlEErhU5
aa4HClEk4kWpPK7hqKbVdZK3yuzvDdj9gMDw/yzgPb8obwZ1jz55VXp2z1YDOTCA
Tv+CkPD2KoR8fWxcitIXyonDYpsyAIFM9HhGaeBUgD2HcXSzidM33rrPobxwtCvW
y8gpWAD2EyN3d/Idt5hhUNzgKYIjPV5/i/400Hpx35sPO9OXQcjymvt39KJpBM+Q
2E0fMg3bsEht1bl5bik5wQqGsGx+RwTwfEj68N3pf1UJtvShfbXL998fiae9FJUM
0KOnkD9bp/KemdYWkg==
-----END CERTIFICATE-----
